<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="css/style.css">


    <title>Shortify</title>
</head>
<body>
<header>
<div class="navbar">
  <div class="shortify-logo">
    <a href="#">
      <img class="logo" src="images/logo.svg" alt="">
      <span class="site-name">Shortify</span>
    </a>
  </div>
  <div class="nav-buttons">
    <li><a href="#">Get the app</a></li>
  </div>
</div>
    </header>

<main>
    <div class="section-one">
    <div class="container sct1">
<div class="wrapper">
    <div class="left-column">
        <div class="upper-wrapper">
            <h1 class="uw-h1">Conquer the Web with Short URLs.</h1>
            <p class="uw-p">Create short links, QR Codes, and Link-in-bio pages. Share them anywhere.</p>
        </div> 
        <div class="lower-wrapper">
            <a class="get-started" href="#">Get Started</a>
            
            <a href="#how-it-works" class="how-it-works">how it works ?</a>
        </div>
    </div>
    <div class="right-column">
                <div class="decor-container">
                <div >
                <img  class="mac-menubar" src="images/mac-menubar.svg" alt="">
                </div>
                 <div class="s-bar">
                    <span class="sbar">https://www.shortify.com/<span>
                </div>
                </div>
                 

            <div class="fun-container">
                <div class="fun-buttons">
                    <button class="funl btn1 active">
                        <img class="link__icon link1" src="/images/link1.svg" alt="Link Icon">
                        <img class="link__icon link2" src="/images/link2.svg" alt="Link Icon">
                        Short Link
                    </button>
                    <button class="funl btn2">
                        <img class="qr__link qr1" src="images/qr.svg" alt="qr icon">
                        <img class="qr__link qr2" src="images/qr1.svg" alt="qr icon">
                        QR Code
                    </button>
                </div>
                <div class="qr__wrapper">
                    <div class="qr__container">
                        <div class="img__container">
                        <img id="qr__code" src="" alt="" >
                       </div>
                       <button class="Btn" onclick="downloadImage()">
                        <svg class="svgIcon" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg>
                        <span class="icon2"></span>
                     </button>
                    </div>
                    <div class="loader">
                        <div class="spinner center">
                            <div class="spinner-blade"></div>
                            <div class="spinner-blade"></div>
                            <div class="spinner-blade"></div>
                            <div class="spinner-blade"></div>
                            <div class="spinner-blade"></div>
                            <div class="spinner-blade"></div>
                            <div class="spinner-blade"></div>
                            <div class="spinner-blade"></div>
                            <div class="spinner-blade"></div>
                            <div class="spinner-blade"></div>
                            <div class="spinner-blade"></div>
                            <div class="spinner-blade"></div>
                        </div>
                    </div>
                    <div class="url__container">
                <div class="shorturl_wrap" id="shortenedUrl" >

                </div>
                        <button class="copy">
                            <span data-text-end="Copied!" data-text-initial="Copy to clipboard" class="tooltip"></span>
                            <span>
                              <svg xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 6.35 6.35" y="0" x="0" height="20" width="20" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" class="clipboard">
                                <g>
                                  <path fill="currentColor" d="M2.43.265c-.3 0-.548.236-.573.53h-.328a.74.74 0 0 0-.735.734v3.822a.74.74 0 0 0 .735.734H4.82a.74.74 0 0 0 .735-.734V1.529a.74.74 0 0 0-.735-.735h-.328a.58.58 0 0 0-.573-.53zm0 .529h1.49c.032 0 .049.017.049.049v.431c0 .032-.017.049-.049.049H2.43c-.032 0-.05-.017-.05-.049V.843c0-.032.018-.05.05-.05zm-.901.53h.328c.026.292.274.528.573.528h1.49a.58.58 0 0 0 .573-.529h.328a.2.2 0 0 1 .206.206v3.822a.2.2 0 0 1-.206.205H1.53a.2.2 0 0 1-.206-.205V1.529a.2.2 0 0 1 .206-.206z"></path>
                                </g>
                              </svg>
                              <svg xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 24 24" y="0" x="0" height="18" width="18" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" class="checkmark">
                                <g>
                                  <path data-original="#000000" fill="currentColor" d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"></path>
                                </g>
                              </svg>
                            </span>
                          </button>
                    </div>

                </div>

                <h2 class="f-header">Shorten a Your Link </h2>
                <div class="url-shortner">
                    <img class="link-icon" src="images/link.svg" alt="link icon">
            <div class="entry-side">
            <form action="" method="post" id="shortenForm">
                <input type="url" name="fullUrl" id="fullUrl" placeholder="Enter Your Link Here!">
            </form>
            </div>

                <button class="shorten-btn" type="submit" ">Shorten Now!</button>
                 </div>

            </div>

    
    </div>
</div>
        </div>
          
</div>

 <div class="section-two">
    <div class="container sct2">
        <div class="wrapper2">
            <div class="wleft-column">
               <div class="w-upper">
                <h1>Elevate Your Link Experience.
                </h1>
                <p>Our platform was built to help you make every point of connection between your content and audience ignite action.</p>
               </div>
               <div class="w-lower">
                <a href="#">Try Now!</a>
               </div>
            </div>
            <div class="wright-column">
                <div class="rec r1">
                    <h2>Simplified</h2>
                    <p>Easy and intuitive link shortening process, no technical skills required</p>
                    <div class="icon c1"><img class="rc1" src="images/tap.svg" alt=""></div>
                
                </div>
                <div class="rec r2">
                    <h2>Shareable</h2>
                    <p>Shortened links are easily shareable on various platforms.</p>
                    <div class="icon c2"><img class="rc2" src="images/share1.svg" alt="share icon"></div>

                </div>
                <div class="rec r3">
                    <h2>QR Codes</h2>
                    <p>Generate dynamic QR codes to reach offline audiences</p>
                    <div class="icon c3"><img class="rc3" src="images/qr1.svg" alt="qr code icon"></div>

                </div>
                <div class="rec r4">
                    <h2>Optimized</h2>
                    <p>Boost engagement with powerful short links</p>
                    <div class="icon c4"><img class="rc4" src="images/opt.svg" alt="optimization icon"></div>

                </div>
                
            </div>
            
        </div>
        <div class="trusted-by">
            <h2 class="t-by">Trusted by</h2>
            <div class="brand-icons">
                <div class="trb brand1"> <img class="bigfish" src="images/bigfish.svg" alt="bigfish logo"></div>
                <div class="trb brand2"><img class="novasol" src="images/nova.svg" alt="novasol logo"></div>
                <div class="trb brand3"><img class="marriott" src="images/mar.svg" alt="marriott"></div>
                <div class="trb brand4"><img class="monday" src="images/mon.svg" alt="monday.com logo"></div>
            </div>
        </div>
    </div>

 </div>

<div class="section-three">
    <div class="container sct3">
        <div class="wrapper3">
            <div class="wr-upper">
                <div class="s3-left">
                    <h1>shorten and share your link now</h1>
                    <p>Start now, Shorten URLs. Generate QR Code
                        And Share it Now!</p>

                        <a class="last-btn" href="#">Get Started</a>
                </div>
                <div class="s3-right"><img src="images/component.svg" alt=""></div>
            </div>
            <div class="wr-lower" id="how-it-works">
              <div class="rect rt1">
                <div class="circl cir1">
                    <h2>1</h2>
                </div>
                <h1>enter your link</h1>
                <p>Paste your long link into the our platform, and watch it transform like a digital makeover.</p>
              </div>  
              <div class="rect rt2">
                <div class="circl cir2">
                    <h2>2</h2>
                </div>
            <h1>click shortener</h1>
            <p>With a click, your link gets shorter and snappier – ready to share with style!</p>
              </div>  
              <div class="rect rt3">
                <div class="circl cir3">
                    <h2>3</h2>
                </div>
              <h1> custom qr code</h1>
              <p>Want an extra touch of cool? Craft a custom QR code that's uniquely yours, like a secret symbol for your link.</p>
              </div>  
              <div class="rect rt4">
                <div class="circl cir4">
                    <h2>4</h2>
                </div>
               <h1>share it!</h1>
               <p>Now comes the fun part – share your fresh link or your special QR code. It's like passing a little piece of digital joy to others!</p>
              </div>  
            </div>
        </div>
    </div>

</div>
<script src="/js/script.js"></script>


</main>
    </html>