@charset "UTF-8";
html {
  font-family: "Poppins", sans-serif;
  font-size: 90%;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 65px;
  padding-top: 1em;
  background: #2D2E30;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  background: #2D2E30;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  transition: top 0.5s ease-in-out;
}

.navbar.hidden {
  top: -100px;
}

.navbar .shortify-logo {
  float: left;
  width: 150px;
}

.navbar .nav-buttons {
  float: right;
}

@media (scroll-behavior: smooth) {
  .navbar {
    position: sticky;
  }
}
.section-one {
  width: 100%;
  background: #2D2E30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1100px;
  width: 100%;
  height: 750px;
  margin: 0 auto;
}

.navbar {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: #2D2E30;
}

.shortify-logo a {
  display: flex;
  gap: 1em;
  align-items: center;
  text-decoration: none;
}

.site-name {
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.logo {
  width: 60px;
  height: 60px;
}

.nav-buttons li {
  list-style-type: none;
}

.nav-buttons {
  margin: 0;
  border-radius: 32px;
  border: 1.5px solid #7E7E7F;
  background: rgba(30, 30, 30, 0.47);
  padding: 0.9em 1.8em;
}

.nav-buttons:hover {
  background-color: #7F52FF;
  transition: 100ms;
  color: white;
}

.nav-buttons li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.upper-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.uw-h1 {
  margin: 0;
  color: #FFF;
  font-family: Poppins;
  font-size: 50px;
  font-weight: 700;
}

.uw-p {
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  line-height: normal;
}

.lower-wrapper {
  display: flex;
  gap: 3em;
  align-items: center;
}

.get-started {
  text-decoration: none;
  border-radius: 30px;
  background: #000;
  padding: 0.85em 1.8em;
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
}

.get-started:hover {
  background-color: #7F52FF;
  transition: 0.5s;
  color: white;
}

.how-it-works {
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  position: relative;
  cursor: pointer;
}

.how-it-works::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #FFF;
  border-radius: 10px;
}

.left-column {
  width: 532px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
}

.right-column {
  width: 510px;
  height: 480px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #FFF;
  display: flex;
  flex-direction: column;
}

.decor-container {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: space-between;
}

.mac-menubar {
  width: 78px;
  height: 20px;
  flex-shrink: 0;
}

.s-bar {
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid rgba(238, 238, 238, 0.48);
  background: #F5F4F4;
  padding: 0 12px;
}

span {
  color: #7F52FF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fun-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.url-shortner {
  margin: 0 auto;
  max-width: 420px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-radius: 36px;
  border: 1.5px solid #7E7E7F;
  background: rgba(217, 217, 217, 0);
  padding: 5px;
}

input[type=url] {
  border: none; /* Remove the border */
  outline: none; /* Remove the outline when focused */
  height: 48px;
  background: transparent;
  color: #1E1E1E;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.shorten-btn {
  font-family: "poppins", sans-serif;
  border: none;
  border-radius: 32px;
  background: #7F52FF;
  color: #FFF;
  font-size: 15px;
  font-weight: 400;
  width: 128px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  float: right; /* Add this to float right */
}

.shorten-btn:hover {
  background: #2D2E30;
  color: #fff;
}

.link-icon {
  width: 25px;
  height: 25px;
  margin-left: 12px;
}

.hidden {
  display: none;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.f-header {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  margin-left: 55px;
}

.fun-buttons {
  margin: 0 auto;
  padding: 0.6em 0.8em;
  display: flex;
  gap: 2em;
  border-radius: 8px;
  background: rgba(234, 234, 234, 0.48);
}

.funl {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  border: none;
  border-radius: 6px;
  padding: 0.5em 0.8em;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  background: white;
}

.active {
  background: #7F52FF;
  color: #fff;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.link1 {
  width: 22px;
  height: 22px;
  margin: 0;
}

.section-two {
  max-width: 100%;
  height: 720px;
  background-color: white;
  margin: 0;
}

.wrapper2 {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.wright-column {
  width: 620px;
  height: auto;
  border-radius: 30px;
  border: 1.2px solid #A8A8A8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.rec {
  position: relative;
  border-radius: 26px;
  background: #EFEFEF;
  padding: 20px;
}

.rec h2 {
  margin: 0;
  color: #000;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.rec p {
  margin: 0;
  font-size: 14px;
  margin-top: 2em;
  width: 250px;
}

.wleft-column {
  width: 450px;
  height: 480px;
}

.w-upper h1 {
  margin: 0;
  color: #000;
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 111.111% */
}

.w-upper p {
  margin-top: 3em;
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.w-lower a {
  text-decoration: none;
  border-radius: 30px;
  background: #7F52FF;
  padding: 0.85em 1.6em;
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.w-lower a:hover {
  background-color: #1E1E1E;
  transition: 0.5s;
  color: white;
}

.w-lower {
  margin-top: 8em;
}

.icon {
  position: absolute;
  width: 55px;
  height: 55px;
  background: white;
  border-radius: 50px;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c2, .c3, .c4 {
  background: #7F52FF;
}

.r1 {
  background: #7F52FF;
  color: #FFF;
}

.rc1 {
  width: 32px;
  height: 32px;
}

.rc2 {
  width: 30px;
  height: 30px;
  margin-bottom: 0.4em;
}

.rc3 {
  width: 30px;
  height: 30px;
}

.rc4 {
  width: 35px;
  height: 35px;
  margin-bottom: 0.8em;
}

.trusted-by {
  margin-top: 2em;
  position: relative;
}

.brand-icons {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 52px;
  right: 50px;
}

.trb {
  display: flex;
  justify-content: flex-start; /* Align the inner div to the right side */
  align-items: center;
  width: 250px;
}

/*.bigfish, .novasol, .marriott, .monday{
    width: 210px;
    height: 210px;
    margin: 0;
}*/
.t-by {
  margin: 0;
  text-transform: uppercase;
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.wr-upper {
  width: 990px;
  height: 368px;
  margin: 0 auto;
  border-radius: 28px;
  background: #FFF;
  display: flex;
  gap: 2em;
}

.s3-left {
  margin: 2em;
  width: 450px;
  height: 300px;
}

.s3-left h1 {
  text-transform: uppercase;
  color: #000;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 121.622% */
}

.s3-left p {
  margin: 0;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.5px; /* 171.875% */
}

.s3-left a {
  text-decoration: none;
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 27.5px; /* 137.5% */
  background: #7F52FF;
  padding: 0.8em 1.2em;
  border-radius: 27.5px;
  display: inline-block;
}

.last-btn {
  margin-top: 20px;
}

.s3-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 368px;
}

.section-three {
  max-width: 100%;
  background: #2A2A2A;
  height: 760px;
  margin: 0;
  padding-top: 6em;
}

.wr-lower {
  width: 1100px;
  height: 320px;
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rect {
  width: 260px;
  height: 270px;
  background: #353535;
  border-radius: 30px;
  position: relative;
}

.rt1 {
  background: #7F52FF;
}

.circl {
  position: absolute;
  width: 55px;
  height: 55px;
  background: white;
  border-radius: 50px;
  top: 16px;
  right: 186px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.cir1 {
  color: #7F52FF;
}

.cir2, .cir3, .cir4 {
  background: #7F52FF;
}

.rect h1 {
  display: inline-block;
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.5px; /* 114.583% */
  text-transform: uppercase;
  margin: 0;
  margin-top: 4em;
  margin-left: 1em;
}

.rect p {
  display: inline-block;
  width: 220px;
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  margin: 0;
  margin-top: 1em;
  margin-left: 2em;
}

.link__icon,
.qr__link {
  width: 24px;
  height: 24px;
}

.link2,
.qr2 {
  display: none;
}

.qr__wrapper {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img__container {
  width: 100px;
  height: 100px;
  background: #EFEFEF;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 15px;
}

#qr__code {
  width: 90px;
  height: 90px;
}

.qr__container {
  width: 280px;
  height: 130px;
  background: #2D2E30;
  display: none;
  border-radius: 12px;
  position: relative;
  animation: qr__Container 500ms ease 0s 1 normal forwards;
}

@keyframes qr__Container {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.error {
  animation: shake 0.1s 10;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
.loader {
  position: absolute;
  top: 54px;
  right: 240px;
  display: none;
}

.spinner {
  font-size: 28px;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner.center {
  margin: auto;
}

.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.0555em;
  background-color: transparent;
  transform-origin: center -0.2222em;
  animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
  animation-delay: 0s;
  transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
  animation-delay: 0.083s;
  transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
  animation-delay: 0.166s;
  transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
  animation-delay: 0.249s;
  transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
  animation-delay: 0.332s;
  transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
  animation-delay: 0.415s;
  transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
  animation-delay: 0.498s;
  transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
  animation-delay: 0.581s;
  transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
  animation-delay: 0.664s;
  transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
  animation-delay: 0.747s;
  transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
  animation-delay: 0.83s;
  transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
  animation-delay: 0.913s;
  transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
  0% {
    background-color: #69717d;
  }
  100% {
    background-color: transparent;
  }
}
.Btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
  position: absolute;
  top: 40px;
  right: 26px;
}

.svgIcon {
  fill: rgb(214, 178, 255);
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid rgb(182, 143, 255);
  border-left: 2px solid rgb(182, 143, 255);
  border-right: 2px solid rgb(182, 143, 255);
}

.Btn:hover {
  background-color: #7F52FF;
  transition-duration: 0.3s;
}

.Btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.Btn:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
} 
.url_container {
  width: 318px;
  height: 55px;
  display: none;
}

.url__wrap {
  width: 318px;
  height: 55px;
  border-radius: 8px;
  background: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.shorturl_wrap {
  width: 240px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.url__wrap a {
  text-decoration: none;
  color: #7F52FF;
  font-weight: 500;
  font-size: 16px;
}

/* tooltip settings 👇 */
.copy {
  /* button */
  --button-bg: #2D2E30;
  --button-hover-bg: #464646;
  --button-text-color: #CCCCCC;
  --button-hover-text-color: #8bb9fe;
  --button-border-radius: 10px;
  --button-diameter: 36px;
  --button-outline-width: 1px;
  --button-outline-color: rgb(141, 141, 141);
  /* tooltip */
  --tooltip-bg: #f4f3f3;
  --toolptip-border-radius: 4px;
  --tooltip-font-family: Menlo, Roboto Mono, monospace;
  /* 👆 this field should not be empty */
  --tooltip-font-size: 12px;
  /* 👆 this field should not be empty */
  --tootip-text-color: rgb(50, 50, 50);
  --tooltip-padding-x: 7px;
  --tooltip-padding-y: 7px;
  --tooltip-offset: 8px;
  /* --tooltip-transition-duration: 0.3s; */
  /* 👆 if you need a transition, 
  just remove the comment,
  but I didn't like the transition :| */
}

.copy {
  box-sizing: border-box;
  width: var(--button-diameter);
  height: var(--button-diameter);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.tooltip {
  position: absolute;
  opacity: 0;
  visibility: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font: var(--tooltip-font-size) var(--tooltip-font-family);
  color: var(--tootip-text-color);
  background: var(--tooltip-bg);
  padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
  border-radius: var(--toolptip-border-radius);
  pointer-events: none;
  transition: all var(--tooltip-transition-duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  content: attr(data-text-initial);
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: calc(var(--tooltip-padding-y) / 2 * -1);
  width: var(--tooltip-padding-y);
  height: var(--tooltip-padding-y);
  background: inherit;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: -999;
  pointer-events: none;
}

.copy svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkmark {
  display: none;
}

/* actions */
.copy:hover .tooltip,
.copy:focus:not(:focus-visible) .tooltip {
  opacity: 1;
  visibility: visible;
  top: calc((100% + var(--tooltip-offset)) * -1);
}

.copy:focus:not(:focus-visible) .tooltip::before {
  content: attr(data-text-end);
}

.copy:focus:not(:focus-visible) .clipboard {
  display: none;
}

.copy:focus:not(:focus-visible) .checkmark {
  display: block;
}

.copy:hover,
.copy:focus {
  background-color: var(--button-hover-bg);
}

.copy:active {
  outline: var(--button-outline-width) solid var(--button-outline-color);
}

.copy:hover svg {
  color: var(--button-hover-text-color);
}

/*mobile responsiveness */
@media only screen and (max-width: 576px) {
  header {
    max-width: 576px;
    width: 100%;
    height: 65px;
    background: #2D2E30;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    padding: 1em;
  }
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0 auto;
  }
  main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .nav-buttons {
    display: none;
  }
  .section-one {
    width: 100%;
    background: #2D2E30;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 1500px;
  }
  .container {
    max-width: 576px;
    width: 100%;
    margin: 0 auto;
  }
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .left-column {
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    height: 100vh;
  }
  .left-column h1 {
    font-size: 45px;
  }
  .right-column {
    width: 95%;
  }
  .url-shortner {
    margin: 0 auto;
    max-width: 345px;
    width: 100%;
  }
  .section-two {
    width: 100%;
    background: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 2000px;
  }
  .wrapper2 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .wleft-column {
    width: 100%;
    margin: 50px;
  }
  .wright-column {
    max-width: 85%;
    height: auto;
    border-radius: 30px;
    border: 1.2px solid #A8A8A8;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 20px;
  }
  .rec {
    position: relative;
    height: 209px;
    border-radius: 26px;
    background: #EFEFEF;
  }
  .r1 {
    background: #7F52FF;
    color: #FFF;
  }
}

/*# sourceMappingURL=style.css.map */
